* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 6px;
  padding: 2px;
  height: 100vh;
}
.grid-item {
  padding: 16px;
  color: aliceblue;
  text-align: center;
}
.header {
  background-color: aqua;
  grid-column: 1/6;
}
.hero {
  background-color: plum;
  grid-column: 1/3;
  grid-row: 2/5;
}
.main {
  background-color: rgb(255, 225, 0);
  grid-column: 3/6;
  grid-row: 2/7;
}
.side {
  background-color: rgb(92, 245, 133);
  grid-column: 1/3;
  grid-row: 5/9;
}
.extra {
  background-color: gray;
  grid-column: 3/6;
  grid-row: 7/9;
}
.images {
  background-color: rgb(5, 250, 168);
  grid-column: 1/4;
  grid-row: 9/11;
}
.posts {
  background-color: pink;
  grid-column: 4/6;
  grid-row: 9/11;
}
.footer {
  background-color: orange;
  grid-column: 1/6;
}
